:root{
  --mainDark: #343a40;
  --mainGrey: #rgba(109,109,109);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.bot {
  bottom: 0;
  right : 0;
  position: fixed;
  width: 350px;
  opacity: 1;
  z-index: 10000 ;
  background-color:rgb(60,179,113);
}

